.dark-mode {
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .btn {
  border-color: white;
}

.dark-mode .btn-outline-danger {
  color: white;
}

.dark-mode input {
  background-color: #333;
  color: white;
}
